main {
  margin: 16px 0;
  padding: 12px;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 352px) {
  main {
    margin: 12px 0;
  }

  .card-container {
    width: calc(100% - 20px);
  }

  img {
    width: calc(100% - 5px);
  }
}
