main {
	margin-top: 32px;
}

#section1 {
  display: grid;
  gap: 15px;
}

.card {
	position: relative;
  cursor: pointer;
}

.card:hover {
  opacity: 0.8;
}

.card > img {
	width: 100%;
}

.card > div {
	position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
	
  width: 100%;
	height: 100px;

  padding: 8px;

	bottom: 0;
	left: 0;

	background: rgba(0, 0, 0, 0.55);
}

.card #subtitle {
  font-weight: bold;
  font-size: 24px;
  color: rgba(255,221,0, 1);
}

#section2 {
  width: 100%;

  margin-top: 16px;
  padding: 18px 0 36px;

  background: var(--white);
}

#section2-container {
  padding: 0 15px;
}

#section2-container > div:first-child {
  margin-bottom: 20px;
}

#section2-container > h2 {
  color: var(--primary);
  font: bold 36px/30px 'Khand', sans-serif;
}

.long-card-container {
  margin-top: 20px;
  text-align: start;

  background: var(--background);
  
  cursor: pointer;
}

.long-card-container:hover {
  opacity: 0.8;
}

.long-card-container > img {
  width: 250px;
  height: 200px;
}

.long-card-container .long-card-content {
  padding: 12px 24px;
  width: 100%;
}

.long-card-content .title {
  font: bold 32px/48px 'Fjalla One', sans-serif;
  color: var(--primary);
}

.long-card-content .synopsis {
  font: regular 24px/28px 'Khand', sans-serif;
  color: #4F4F4F;
  margin-top: 24px;
}

#read-more {
  width: 100%;
  text-align: end;
  margin: 12px 0;
}

#read-more > a {
  font: 700 14px/16px 'Khand', sans-serif;
  color: var(--primary);
}