footer {  
  padding: 24px 15px;

  background: var(--black);
  color: var(--white);
}

#footer-contact {
  display: grid;
  grid-template-columns: 300px 250px;
  gap: 25px;

  width: 100%;

  justify-content: center;
  align-items: center;
}

#footer-contact > div:first-child {
  display: flex;
  gap: 50px;

  justify-content: center;
}

.footer-text {
  color: var(--primary);
  font: bold 18px/30px 'Khand', sans-serif;
}

#footer-contact > div:first-child > a:hover {
  opacity: 0.8;
}

#footer-contact > div:first-child {
  text-align: end;
}

#footer-contact > a:hover {
  opacity: 0.8;
}

#trademark {
  text-align: end;
}

@media (min-width: 320px) and (max-width: 650px) {
  #footer-contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    text-align: center;
  }

  #footer-contact > div:first-child {
    text-align: center;
  }

  #trademark {
    text-align: center;
  }
}