* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Khand', sans-serif;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 10px var(--primary);
}

button:not(:disabled):hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

:root {
  --primary: #8257E5;
  --secondary: #F5DD00;
  --success: #5E974D;
  --error: #D9615E;
  --info: #6887BB;
  --warning: #d89d00;
  --background: #F8F8F8;
  --black: #000;
  --white: #FFF;
}