* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Khand', sans-serif;
}

a {
  text-decoration: none;
}

@media (min-width: 769px) {
  main {
    height: calc(100% - 80px - 103px);
  }
}

@media (min-width: 651px) and (max-width: 768px) {
  main {
    height: calc(100% - 73px - 103px);
  }
}

@media (max-width: 650px) {
  main {
    height: calc(100% - 73px - 208px);
  }
}

:root {
  --primary: #8257E5;
  --secondary: #F5DD00;
  --success: #5E974D;
  --error: #D9615E;
  --info: #6887BB;
  --warning: #d89d00;
  --background: #F8F8F8;
  --black: #000;
  --white: #FFF;
}